*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    border: 1px solid red;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(215deg,rgba(154,78,189)50%,rgba(255,255,255)50%);
}
.logo{
    border: 1px solid red;
    line-height: 10vh;
    font-size: 1.2rem;
    text-decoration: none;
    margin-left: 20px;
}
.navList{
    border: 1px solid red;
    width: 60vw;
}
.navUl{
    border: 1px solid black;
    line-height: 10vh;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
.navUl li a{
    font-size: 1.2rem;
    text-decoration: none;
}